<div class="container">
  <h1>会員一覧</h1>

  <table class="table table-bordered">
    <thead class="table-head" style="background-color:#F5F5F5;" >
      <tr>
        <th>会員ID</th>
        <th>氏名</th>
        <th>メールアドレス</th>
        <th>ステータス</th>
      </tr>
    </thead>

    <tbody>
      <% @customers.each_with_index do |customer, i| %>
      <tr>
        <td><%= i+1 %></td>
        <td><%= link_to admin_customer_path(customer.id) do %>
          <%= customer.last_name %>
          <%= customer.first_name %>
          <% end %>
        </td>
        <td><%= customer.email %></td>
        <td>
            <% if customer.is_active == true %>
            <div class="col">有効</div>
            <% else %>
            <div class="col">退会</div>
            <% end %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>

</div>